body {
    background-color: #fbf9f4;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: medium;
}

.blog-container {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr;
    grid-template-areas:
        "hd"
        "main"
        "side";
    grid-column-gap: 2em;
}

.post-card-header {
    grid-area: hd;
    text-align: center;
}

.blog-card-main {
    grid-area: main;
}

.blog-card-side {
    grid-area: side;
}


@media(min-width:900px) {
    .blog-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.1fr 0.1fr 0.1fr;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "main main main main main main side side";
        text-align: center;
        max-width: 1080px;
        margin: 0 auto;
    }

    .post-card-footer > hr {
        min-height: 15vh;
    }
}